[push]
	default = current
	autoSetupRemote = true
[user]
	email = younes@marmicode.io
	signingkey = 15527234E80DDDBD50E707CD3126C5717BDF3241
	name = Younes Jaaidi
[init]
	defaultBranch = main
[core]
	autocrlf = input
[pager]
	log = less
	branch = false
[alias]
	l = "log --pretty='%cd %h %s' --graph --date=short"
	recommit = "!git commit -a -m \"$(git log -1 --pretty=%B)\""
        wipeout = "!git reset --hard && git clean -df"
[gpg]
	program = /opt/homebrew/bin/gpg
[pull]
	ff = only
[commit]
	gpgsign = true

